fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community
langchain-huggingface
langgraph

huggingface-hub
sentence-transformers
faiss-cpu

sarvamai

python-dotenv

pydantic

numpy
scikit-learn

redis

python-multipart

langsmith

httpx
orjson
gunicorn

langgraph-checkpoint-sqlite